# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
.env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor config files
.vscode/
.idea/

# Ignore output files
*.pdf
